body
{
	background-color: none ;
    margin: 0;
    text-align: center;
    color: #40514E;
}

p{
  line-height: 2;
  font-family: 'Montserrat', sans-serif;

}

hr{
  border: dotted #EAF6F6 6px;
  border-bottom: none;
  width: 4%;
  margin: 100px auto;
}

.contact-me
{
  width: 40%;
  margin: 40px auto 60px;
}

.top-container{
	padding: 50px;
	background-color: #E4F9F5;
    padding-top:100px auto 0 auto;
    margin: auto auto 100px auto;
    background: linear-gradient(to top,  #c7ffd8 10%, #f9f871 35%, #E4F9F5 60%);
}

.middle-container{

}

.bottom-container{
background-color: #66BFBF;
padding: 50px 0 20px;
}

.mountain{
	width: 20rem;
	height: 20rem;
  margin:0;
}

.birds{
  height: 10rem;
  width: 10rem;
  position: absolute;
  right: 10%;
  top:25%;
}

.cloud1
{
    position: absolute;
    left: 20%;
    top: 20%;
    height: 25%;
    width: 15%;
}

.cloud3{
	position: absolute;
    left: 60%;
    top: 20px;
     height: 25%;
    width: 15%;
}

.name{
     margin-top: 10%;

}

.footer-link{
  color: #11999E;
  margin:10px 20px;
  text-decoration: none;
}

.copyright{
   color: #EAF6F6;
   font-size: 0.75rem;
   padding:20px 0 20px;
}

a:hover{
  color: #EAF6F6;
}
h1{
	color: #66BFBF;
	font-weight: 900;
     margin-top: 0;
     font-family: 'Dancing Script', cursive;
     font-size: 60px;
     margin-bottom: 32px;
     padding-bottom: 0px;

}

h3{
	 font-family: 'Montserrat', sans-serif;
	 	 margin-top:0;
  margin-bottom: 10px;
	 font-size: 1.5rem;
	 color: #66BFBF;

}

h2{
    color: #66BFBF;
   font-family: 'Montserrat', sans-serif;

}

.profileimg{
	height: 200px;
	width: 200px

}

.skill-row{
    width: 50%;
    margin: 100px auto;
    text-align: left;
}

#para{
line-height: 2;
text-align: justify;

}

.web-design{
    width: 25%;
    height: 50%;
    float: left;
    margin-right: 10px;
}

.eat{
    width: 25%;
    float: right;
    margin-left: 10px;

}

#head{
display: inline;
margin-left: 0;
}


.into{
  width: 30%;
  margin: auto;
}


.btn {
  background: #11cdd4;
  background-image: -webkit-linear-gradient(top, #11cdd4, #11999E);
  background-image: -moz-linear-gradient(top, #11cdd4, #11999E);
  background-image: -ms-linear-gradient(top, #11cdd4, #11999E);
  background-image: -o-linear-gradient(top, #11cdd4, #11999E);
  background-image: linear-gradient(to bottom, #11cdd4, #11999E);
  -webkit-border-radius: 8;
  -moz-border-radius: 8;
  border-radius: 8px;
   font-family: 'Montserrat', sans-serif;
  color: #ffffff;
  font-size: 20px;
  padding: 10px 20px 10px 20px;
  text-decoration: none;
}

.btn:hover {
  background: #30e3cb;
  background-image: -webkit-linear-gradient(top, #30e3cb, #2bc4ad);
  background-image: -moz-linear-gradient(top, #30e3cb, #2bc4ad);
  background-image: -ms-linear-gradient(top, #30e3cb, #2bc4ad);
  background-image: -o-linear-gradient(top, #30e3cb, #2bc4ad);
  background-image: linear-gradient(to bottom, #30e3cb, #2bc4ad);
  text-decoration: none;
}